@p4nr:registry=https://npm.cloudsmith.io/iniationware-gmbh/p4nr/
@p4nree:registry=https://npm.cloudsmith.io/iniationware-gmbh/p4nr/
@plus4nodered:registry=https://npm.cloudsmith.io/iniationware-gmbh/p4nr/
//npm.cloudsmith.io/iniationware-gmbh/p4nr/:_authToken=${P4NR_LICENSE_TOKEN}
registry=https://registry.npmjs.org/
